body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgb(205, 254, 238);
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    width: 100vw;
    margin: 0 auto;
    padding: 10px 30px;
    font-weight: 600;
}
.nav-link {
    cursor: pointer;
}
.nav-link:hover {
    text-decoration: underline;
}
#Brand-link {
    font-size: 2rem;
}
#small-links {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: flex-end;
    width: 30%;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

#canvas {
    z-index: -1;
}
.view {
    z-index: 1;
}

.hidden {
    display: none;
}