body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgb(205, 254, 238);
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    width: 100vw;
    margin: 0 auto;
    padding: 10px 30px;
    font-weight: 600;
}
.nav-link {
    cursor: pointer;
}
.nav-link:hover {
    text-decoration: underline;
}
#Brand-link {
    font-size: 2rem;
}
#small-links {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: flex-end;
    width: 30%;
}

#content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#canvas {
    position: absolute;
}
.view {
    background-color: coral;
    border: 1px solid black;
    border-radius: 1.5rem;
    position: absolute;
    top: 60px;
    left: 10%;
}
#signupView form, #loginView form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#allLocations {
    margin: 5px;
    height: 90vh;
    overflow-y: scroll;
}
.locationRow {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.locationRow p {
    margin: 5px 10px;
}


.hidden {
    display: none;
}